@import "font.css";
@import "reset.css";

body {
  width: 100%;
  background-color: #000000;
}

header {
  display: flex;
  flex-direction: row;

  height: 48px;
}

.logo {
  margin-left: -20px;
  
  width: 120px;
  height: 46px;
}

.slider-image-1 {
  background-image: url(../images/main_dark.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-image-2 {
  background-image: url(../images/dido_2.png);
  background-size:  cover;
  background-repeat: no-repeat;
}

.slider-image-3 {
  background-image: url(../images/orpheus3.png);
  background-size:  cover;
  background-repeat: no-repeat;
}

.slider-holder {
  width: 320px;
  height: 190px;


  overflow: hidden;
}

.image-holder {
  width: 960px;
  height: 190px;

  clear: both;
  position: relative;

  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slider-image-1, .slider-image-2, .slider-image-3 {
  width: 320px;

  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }

#slider-image-2:target ~ .image-holder
        {
            left: -320px;
        }

#slider-image-3:target ~ .image-holder
        {
            left: -640px;
        }


.slider-change {
       display: inline-block;
       float: right;

       margin-left: 8px;
       margin-right: 8px;
       margin-bottom: 7px;
       height: 10px;
       width: 10px;
       border-radius: 7px;
       background-color: white;
}

.dido {

  float: right;
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 40px;
  text-align: right;

  color: #FFFFFF;
}

.orpheus {
  /* Орфей и Эвридика */
  float: right;
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 40px;
  text-align: right;

  color: #FFFFFF;
}

.opera {
  float: right;
  padding-right: 8px;
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 40px;
  text-align: right;

  color: #FFFFFF;
}

h3 {
  padding-top: 150px;

  padding-left: 8px;
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #FFFFFF;
}

.info p {
  width: 80%;

  padding-left: 8px;

  font-family: "FuturaLightC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;

  color: #FFFFFF;
}

footer p {
  height: 25px;

  padding-left: 8px;

  font-family: "FuturaLightC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;

  color: #FFFFFF;
}

.sculpture {
  margin-top: -200px;
  float: right;
  width: 100px;
  height: 300px;
}

.insta {


  width: 16px;
  height: 16px;
}

.facebook {

  padding-left: 10px;

  width: 16px;
  height: 16px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (min-width: 768px) {
  body{
    width: 768px;
  }

  header {
    height: 56px;
  }

  .logo{
    width: 510px;
  }
}

@media (min-width: 1440px) {
  body {
    width: 1440px;
  }

  header {
    height: 173px;
  }

  .logo {
    width: 497px;
    height: 194px;
  }

  .slider-image-1 {
    background-image: url(../images/main_dark.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slider-image-2 {
    background-image: url(../images/dido_2.png);
    background-size:  cover;
    background-repeat: no-repeat;
  }

  .slider-image-3 {
    background-image: url(../images/orpheus3.png);
    background-size:  cover;
    background-repeat: no-repeat;
  }

  .slider-holder {
    width: 1440px;
    height: 740px;
    overflow: hidden;
  }

  .image-holder {
    width: 4320px;
    height: 740px;
    clear: both;
    position: relative;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }

  .slider-image-1, .slider-image-2, .slider-image-3 {
    width: 1440px;
    height: 740px;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }

  #slider-image-1:target ~ .image-holder
          {
              left: 0px;
          }

  #slider-image-2:target ~ .image-holder
          {
              left: -1440px;
          }

  #slider-image-3:target ~ .image-holder
          {
              left: -2880px;
          }


  .slider-change {
         display: inline-block;
         float: right;

         margin-left: 10px;
         margin-right: 10px;
         margin-bottom: 10px;

         height: 24px;
         width: 24px;
         border-radius: 24px;
         background-color: white;
  }

  /* Дидона и Эней */
  .dido {
    width: 709.08px;
    height: 269.98px;
    float: right;
    font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 140px;
    text-align: right;

    color: #FFFFFF;
  }

  .orpheus {
    /* Орфей и Эвридика */
  width: 686.09px;
  height: 269.98px;
  float: right;
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 140px;
  text-align: right;

  color: #FFFFFF;
  }

  .opera {
  width: 427.66px;
  height: 392.2px;
  float: right;
  padding-right: 8px;
  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 140px;
  text-align: right;

  color: #FFFFFF;
  }

  h3 {
    height: 56px;
    padding-top: 650px;
    padding-left: 8px;
    font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 48px;

    color: #FFFFFF;
  }

  .title1 {
  margin: 0;
  position: absolute;
  height: 900px;
  width: 1440px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: black;
  }

  .title2 {
    margin: 0;
  position: absolute;
  height: 900px;
  width: 1440px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: white;
  }

  .info p {
  font-family: "FuturaLightC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;

  color: #FFFFFF;

  position: absolute;
  width: 1113.88px;
  height: 381.45px;
  left: 29.35px;
  top: 1067.78px;
  }

  .footer {
  position: absolute;
  width: 451.4px;
  height: 25.02px;
  left: 29.35px;
  top: 1725px;

  font-family: "FuturaMediumC", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 24px;

  color: #FFFFFF;
  }

  .info {
    width: 100%;
  }

  .sculpture {
    margin-top: -150px;
    float: right;
    width: 385px;
    height: 984px;
  }

  .insta {
    position: absolute;
    left: 1300px;
    top: 1730px;
  width: 44px;
  height: 44px;
  }

  .facebook {
    position: absolute;
    padding-left: 10px;

    top: 1730px;
    left: 1360px;
    width: 44px;
    height: 44px;
  }

}
